body { margin: 0; padding: 0; background-color: #D5D9B0;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*----- reset -----*/
ul, p, a, h1, h2, h3, h4, h5, h6 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 { padding: 0 0 10px 0;}
p, h2, h3, h4, h5, h6 { padding: 10px 0 10px 0;}

/*----- rails -----*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #bbb; }

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*----- layout.application -----*/
#wrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
}
#header {
	margin: 10px 0 0 0;
	position: relative;
	background-color: #8FBDA1;
}
	#header a {
		text-decoration: none;
		color: #fff;
	}
	#header a:hover {
		color: #111;
	}
	#header h1{
		margin: 0;
		padding: 5px;
		font-family: Georgia;
		font-size: 20px;
		letter-spacing: -2px;
	}
	#nav-links {
		position: absolute;
		padding: 5px;
		top: 0;
		right: 0;
	}
	
#side-menu {
	width: 150px;
	margin: 10px 10px 0 0;
	float:left;
	background-color: #F8F2DA;
	border-bottom: 2px solid #C3BC78;
}

	#side-menu ul li {
	}
	
		#side-menu ul li a {
			display: block;
			text-decoration: none;
			padding: 10px;
			background-color: #F8F2DA;
		}
		
		#side-menu ul li a:hover {
			color: white;
			background-color: #f87;
		}
	
#notice {
}
	#notice p {
	    font-size: 21px;
	    font-weight: bold;
	    margin: 5px auto;
	    text-align: center;
	}
	#notice p#notice {
		background-color: #B6E8BB;
	    border: 3px solid #65B26D;
	    color: #65B26D;
	}
	#notice p#error {
		background-color: coral;
	    border: 3px solid red;
	    color: wheat;
	}
	
#content {
	margin-top: 10px;
	width: 620px;
	float: left;
	border-bottom: 2px solid #C3BC78;
	background-color: #F8F2DA;
	padding: 10px;
}

/*------ terms#index -------*/
#progress-bar {
	border: 1px solid #aaa;
	background: #F6F1DC;
	height: 30px;
	position: relative;
}
	#ui-progress {
		text-align: center;
		width: 50%;
		background: #f87;
		height: 28px;
		border: 1px solid #f37;
	}
	#begin-marker {
	}
	#end-marker {
		float: right;
	}