body { margin: 0; padding: 0;}

body, p, ol, ul, td {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*----- reset -----*/
p, a, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6 { margin: 10px 0 10px 0;}

/*----- rails -----*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*----- layout.application -----*/
#wrapper {
	background-color: #F8F2DA;
	width: 900px;
	margin: 0 auto;
}
#header {
	position: relative;
	background-color: #A3D0A7;
}
	#header a {
		text-decoration: none;
		color: #111;
	}
	#header h1{
		margin: 0;
		padding: 5px;
		font-family: Georgia;
		font-size: 20px;
		letter-spacing: -2px;
	}
	#nav-links {
		position: absolute;
		padding: 5px;
		top: 0;
		right: 0;
	}
	
#notice {
}
	#notice p {
		width: 50%;
		margin: 10px auto 0 auto;
		border: 1px solid #D2E29B;
		background-color: #EBF3CF;
		color: #758D57;
		text-align: center;
	}
#content {
	padding: 0 10px 10px 10px;
}