<h1>Pacific Rim Research Program</h1>

<p>
    Are you submitting a proposal? <%= link_to "Create new account", new_user_path %> or <%= link_to "Log in", :login%>
</p>
<p>
    Are you a campus or PRRP committee reviewer? 
</p>