<img src="/images/logohead.png" class = "center">
<div id= "maintext">
<p>
    
    <% if current_user %>
        Click here to <%= link_to "Create new proposal", user_proposals_path(current_user) %>
    <% else %>
        Please <%= link_to "Log in", :login%> to continue
    <% end %>
</p>
<p>
    Looking to submit a letter of reccomendation? <a href="/null">Click here</a> (NYI)
</p>
</div>