<h1>Pacific Rim Research Program</h1>

<p>
    Are you submitting a proposal?
    <% if current_user %>
        <%= link_to "Create new proposal", user_proposals_path(current_user) %>
    <% else %>
        <%= link_to "Log in", :login%>
    <% end %>
</p>
<p>
    Are you a campus or PRRP committee reviewer? 
</p>